* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
  
h1{
    font-size: 20px;
}
h2{
    font-size: 16px;
}

label{
    font-size: 16px;
}

@media (max-width: 1200px) {
  h1{
      font-size: 16px;
  }
  h2{
      font-size: 14px;
  }
  label{
    font-size: 12px;
  }
} 

button{
    cursor: pointer;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }

/* Tailwind-compatible custom arrow */
summary::-webkit-details-marker {
    display: none; /* hide native arrow */
  }
  
  .details-arrow {
    content: '';
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg); /* closed state */
  }
  
  /* when open, rotate the arrow */
  details[open] .details-arrow {
    transform: rotate(317deg);
  }
  
  details , summary{
    outline: none;
  }